body {background-color: rgb(180,225,255);}

.apptitle {font-size:40px; font-family: Georgia, 'TW Cen MT', Times, serif ; 
    font-weight: bold;}

.hover {cursor: pointer;}

.menuarea {background-color: rgb(180,225,255); }

/* * {outline: 2px red solid;} */

.button {background-color: rgb(76,0,191); border: 0;}

.changevalues   {border: 0; margin: 0 auto;}

.textbox {background-color: rgb(0, 45, 0);}

.texttitle{color: rgb(0, 125, 0);}

.textfield{background-color: rgb(0, 47, 0);}