{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bit Shift </title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="Rsha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css" integrity="Rsha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="Rsha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href=”http://cdn.pydata.org/bokeh/release/bokeh-2.4.2.min.css " rel=”stylesheet” type=”text/css”>
    <link href=”http://cdn.pydata.org/bokeh/release/bokeh-widgets-2.4.2.min.css" rel=”stylesheet” type=”text/css”>
    <link rel="Rshortcut icon" href="http://example.com/myicon.ico">

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="Rsha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    
    <style>

    </style>

</head>
<body style="background-color: rgb(0, 0, 0);">
    <!-- menu area container starts here -->
    <div class="container-flex p-2 sticky-top menuarea" style="background-color: black;">
        <span class="d-flex flex-row align-items-center menuitems hover" style="background-color: rgb(0,45,0);" data-bs-toggle="collapse" data-bs-target="#items" aria-controls="items" aria-expanded="false">
                    <img src="{% static 'images/calculator.png' %}" alt="calculator"style="width: 50px;height: 50px;"/>
                    &nbsp; &nbsp; <span class="apptitle" style="color: rgb(0,200,0);">LOGICAL OPERATIONS</span>
        </span>
        <div class="collapse" id="items">
            <ul class="list-group list-group-horizontal-lg list-group-vertical">
                <a href="/" class="nav-link active"> <button class="btn button1 text-light rounded-pill"> <span class="p-1 texttitle"> Home </span> </button> </a>
                <a href="/baseConversions" class="nav-link active"> <button class="btn button1 text-light rounded-pill"> <span class="p-1 texttitle"> Base Conversions </span> </button> </a>
                <a href="/bitShift" class="nav-link active"> <button class="btn button1 text-light rounded-pill"> <span class="p-1 texttitle"> Bit Shift </span> </span> </button> </a>
                <a href="/bitRotate" class="nav-link active"> <button class="btn button1 text-light rounded-pill"> <span class="p-1 texttitle"> Bit Rotate </span> </span> </button> </a>
                <a href="/bitArithmetic" class="nav-link active"> <button class="btn button1 text-light rounded-pill"> <span class="p-1 texttitle"> Bit Arithmetic </span> </button> </a>
                <a href="" class="nav-link active"> <button class="btn button1 text-light rounded-pill"> <span class="p-1 texttitle"> Logical Operations </span> </button> </a>
            </ul>
        </div>
        <hr class="divider">
    </div>
    <!-- menu area container ends here -->

    <!-- field inputs and outputs container starts here -->
    <div class="container">
        
        <form action="" method="POST" class="myform">
            {% csrf_token %}
            <div class="input-group p-3" id="allTextInputs">
                <!-- input fields start here -->
                <div class="container">
                    <!-- <p><h2>LOGICAL SHIFT OPERATIONS</h2></p> -->
                    <!-- container 1st row starts here -->
                    <div class="row align-items-end justify-around">
                        <!-- container columns in 1st row starts here -->
                        <div class="col-sm-12 col-md-4  align-items-center" style="border-radius: 1cm; border: 0.5px red;">
                            <span class="input-group-text texttitle " style="display: table; margin: auto; width:100%">DECIMAL INPUT 1</span>
                            <div style="display: flex; margin: auto; width: 100%;">
                                <button id="DecIn1Sub" class="changevalues texttitle" type="button"onclick="modifyTextFields()">-</button>
                                <input type="text" class="w-90 form-control text-center textfield" style="margin: auto;" 
                                    id="DecIn1" name="DecIn1"onchange="modifyFormValues()" value="0">
                                <button id="DecIn1Add" class="changevalues texttitle" type="button"onclick="modifyTextFields()">+</button>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-3  align-self-center">
                            <span class="display-3" style="display: table; margin: auto;" > 
                                <select class="form-select pulldown text-center" id="decop" onchange="modifyFormValues()">
                                    <option selected=""> AND </option>
                                    <option > ORR </option>
                                    <option > XOR </option>
                                    <option > NOT (IN-1)</option>
                                    <option > NOT (IN-2)</option>
                                  </select>
                            </span>
                        </div>
                        <div class="col-sm-12 col-md-4  align-items-center" style="border-radius: 1cm; border: 0.5px red;">
                            <span class="input-group-text texttitle" style="display: table; width:100%; margin: auto;">DECIMAL INPUT 2</span>
                            <div style="display: flex; width: 100%; margin: auto;">
                                <button id="DecIn2Sub" class="changevalues texttitle" type="button"onclick="modifyTextFields()">-</button>
                                <input type="text" class="w-90 form-control text-center textfield" style="margin: auto;" 
                                    id="DecIn2" name="DecIn2"onchange="modifyFormValues()" value="0">
                                <button id="DecIn2Add" class="changevalues texttitle" type="button"onclick="modifyTextFields()">+</button>
                            </div>
                        </div>
                        <!-- container columns in 1st row ends here -->
                    </div>
                    <!-- container 1st row ends here -->
                    <p></p>
                    <!-- container 2nd row starts here -->
                    <div class="row align-items-end justify-around">
                        <!-- container columns of 2nd row start here -->
                        <div class="col-md-2  align-items-center">
                            <span class="input-group-text texttitle" style="display: table; margin: auto; width: 100%;">DECIMAL</span>
                            <input type="text" class="w-90 form-control text-center textfield" style="margin: auto;" id="LogiDecDec" name="LogiDecDec" value="">
                        </div>
                        <div class="col-md-5  align-items-center">
                            <span class="input-group-text texttitle" style="display: table; margin: auto; width: 100%;">BINARY</span>
                            <input type="text" class="w-90 form-control text-center textfield" style="margin: auto;" id="LogiDecBin" name="LogiDecBin" value="">
                        </div>
                        <div class="col-md-5  align-items-center">
                            <span class="input-group-text texttitle" style="display: table; margin: auto; width: 100%;">HEXADECIMAL</span>
                            <input type="text" class="w-90 form-control text-center textfield" style="margin: auto;"id="LogiDecHex" name="LogiDecHex" value="">
                        </div>
                        <!-- container columns of 2nd row end here -->
                    </div>
                    <!-- container 2nd row ends here -->

                    <p></p>
                    &nbsp;
                    <p></p>

                    <!-- container 1st row starts here -->
                    <div class="row align-items-end justify-around">
                        <!-- container columns in 1st row starts here -->
                        <div class="col-sm-12 col-md-4  align-items-center" style="border-radius: 1cm; border: 0.5px red;">
                            <span class="input-group-text texttitle" style="display: table; margin: auto; width:100%">BINARY INPUT 1</span>
                            <div style="display: flex; margin: auto; width: 100%;">
                                <button id="BinIn1Sub" class="changevalues texttitle" type="button"onclick="modifyTextFields()">-</button>
                                <input type="text" class="w-90 form-control text-center textfield" style="margin: auto;" 
                                    id="BinIn1" name="BinIn1"onchange="modifyFormValues()" value="0">
                                <button id="BinIn1Add" class="changevalues texttitle" type="button"onclick="modifyTextFields()">+</button>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-3  align-self-center">
                            <span class="display-3" style="display: table; margin: auto;" >
                                <select class="form-select pulldown text-center" id="binop" onchange="modifyFormValues()">
                                    <option selected=""> AND </option>
                                    <option > ORR </option>
                                    <option > XOR </option>
                                    <option > NOT (IN-1)</option>
                                    <option > NOT (IN-2)</option>
                                  </select>
                            </span>
                        </div>
                        <div class="col-sm-12 col-md-4  align-items-center" style="border-radius: 1cm; border: 0.5px red;">
                            <span class="input-group-text texttitle" style="display: table; width:100%; margin: auto;">BINARY INPUT 2</span>
                            <div style="display: flex; width: 100%; margin: auto;">
                                <button id="BinIn2Sub" class="changevalues texttitle" type="button"onclick="modifyTextFields()">-</button>
                                <input type="text" class="w-90 form-control text-center textfield" style="margin: auto;" 
                                    id="BinIn2" name="BinIn2"onchange="modifyFormValues()" value="0">
                                <button id="BinIn2Add" class="changevalues texttitle" type="button"onclick="modifyTextFields()">+</button>
                            </div>
                        </div>
                        <!-- container columns in 1st row ends here -->
                    </div>
                    <!-- container 1st row ends here -->
                    <p></p>
                    <!-- container 2nd row starts here -->
                    <div class="row align-items-end justify-around">
                        <!-- container columns of 2nd row start here -->
                        <div class="col-md-2  align-items-center">
                            <span class="input-group-text texttitle" style="display: table; margin: auto; width: 100%;">DECIMAL</span>
                            <input type="text" class="w-90 form-control text-center textfield" style="margin: auto;" id="LogiBinDec" name="LogiBinDec" value="">
                        </div>
                        <div class="col-md-5  align-items-center">
                            <span class="input-group-text texttitle" style="display: table; margin: auto; width: 100%;">BINARY</span>
                            <input type="text" class="w-90 form-control text-center textfield" style="margin: auto;" id="LogiBinBin" name="LogiBinBin" value="">
                        </div>
                        <div class="col-md-5  align-items-center">
                            <span class="input-group-text texttitle" style="display: table; margin: auto; width: 100%;">HEXADECIMAL</span>
                            <input type="text" class="w-90 form-control text-center textfield" style="margin: auto;"id="LogiBinHex" name="LogiBinHex" value="">
                        </div>
                        <!-- container columns of 2nd row end here -->
                    </div>
                    <!-- container 2nd row ends here -->

                    <p></p>
                    &nbsp;
                    <p></p>

                    <!-- container 1st row starts here -->
                    <div class="row align-items-end justify-around">
                        <!-- container columns in 1st row starts here -->
                        <div class="col-sm-12 col-md-4  align-items-center" style="border-radius: 1cm; border: 0.5px red;">
                            <span class="input-group-text texttitle" style="display: table; margin: auto; width:100%">HEXADECIMAL INPUT 1</span>
                            <div style="display: flex; margin: auto; width: 100%;">
                                <button id="HexIn1Sub" class="changevalues texttitle" type="button"onclick="modifyTextFields()">-</button>
                                <input type="text" class="w-90 form-control text-center textfield" style="margin: auto;" 
                                    id="HexIn1" name="HexIn1"onchange="modifyFormValues()" value="0">
                                <button id="HexIn1Add" class="changevalues texttitle" type="button"onclick="modifyTextFields()">+</button>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-3  align-self-center">
                            <span class="display-3" style="display: table; margin: auto;" >
                                <select class="form-select pulldown text-center" id="hexop" onchange="modifyFormValues()">
                                    <option selected=""> AND </option>
                                    <option > ORR </option>
                                    <option > XOR </option>
                                    <option > NOT (IN-1)</option>
                                    <option > NOT (IN-2)</option>
                                  </select>
                            </span>
                        </div>
                        <div class="col-sm-12 col-md-4  align-items-center" style="border-radius: 1cm; border: 0.5px red;">
                            <span class="input-group-text texttitle" style="display: table; width:100%; margin: auto;">HEXADECIMAL INPUT 2</span>
                            <div style="display: flex; width: 100%; margin: auto;">
                                <button id="HexIn2Sub" class="changevalues texttitle" type="button"onclick="modifyTextFields()">-</button>
                                <input type="text" class="w-90 form-control text-center textfield" style="margin: auto;" 
                                    id="HexIn2" name="HexIn2"onchange="modifyFormValues()" value="0">
                                <button id="HexIn2Add" class="changevalues texttitle" type="button"onclick="modifyTextFields()">+</button>
                            </div>
                        </div>
                        <!-- container columns in 1st row ends here -->
                    </div>
                    <!-- container 1st row ends here -->
                    <p></p>
                    <!-- container 2nd row starts here -->
                    <div class="row align-items-end justify-around">
                        <!-- container columns of 2nd row start here -->
                        <div class="col-md-2  align-items-center">
                            <span class="input-group-text texttitle" style="display: table; margin: auto; width: 100%;">DECIMAL</span>
                            <input type="text" class="w-90 form-control text-center textfield" style="margin: auto;" id="LogiHexDec" name="LogiHexDec" value="">
                        </div>
                        <div class="col-md-5  align-items-center">
                            <span class="input-group-text texttitle" style="display: table; margin: auto; width: 100%;">BINARY</span>
                            <input type="text" class="w-90 form-control text-center textfield" style="margin: auto;" id="LogiHexBin" name="LogiHexBin" value="">
                        </div>
                        <div class="col-md-5  align-items-center">
                            <span class="input-group-text texttitle" style="display: table; margin: auto; width: 100%;">HEXADECIMAL</span>
                            <input type="text" class="w-90 form-control text-center textfield" style="margin: auto;"id="LogiHexHex" name="LogiHexHex" value="">
                        </div>
                        <!-- container columns of 2nd row end here -->
                    </div>
                    <!-- container 2nd row ends here -->


                </div>
                <!-- input fields end here -->
            </div>
         </form>   
    </div>
    <!-- field inputs and outputs container ends here -->
    <p></p>
    <p></p>
    <p></p>
    &nbsp;
    <p></p>
    <p></p>
    <p></p>

    <hr class="divider">
    <div class="container-flex fixed-bottom bitselection" style="height: 60px;" id="bitselection">
        <p></p>
        <div class="row" style="display: table; margin: auto;">
            <div class="col-md-12 align-items-center">
                <div class="col-sm-12 col-md-12  align-items-center" style="display: flex;">
                    <div class="form-check form-switch">
                        <input type="checkbox" name="bit08" id="b08" checked class="form-check-input bg-success" onclick="bitselect()">
                        <label for="b08" class="form-check-label">8-bit</label>
                    </div> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <div class="form-check form-switch">
                        <input class="form-check-input bg-success" type="checkbox" name="bit16" id="b16" onclick="bitselect()">
                        <label class="form-check-label" for="b16"> 16-bit </label>
                    </div> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <div class="form-check form-switch">
                        <input class="form-check-input bg-success" type="checkbox" name="bit32" id="b32" onclick="bitselect()">
                        <label class="form-check-label" for="b32"> 32-bit </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

</body>
<script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="Rsha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="Rsha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/f0f52582e8.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="Rsha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>

<script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.4.2.min.js"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.4.2.min.js"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.4.2.min.js"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-api-2.4.2.min.js"></script>

<script type="text/javascript">
    //document.getElementById('bitselection').style.backgroundColor='khaki';
    function color()
    {
        console.log(event.srcElement.id,' is the triggering id')
    }
    function colorapply()
    {
        cval = $('#colorPallette').val();   document.getElementById('bitselection').style.backgroundColor=cval;

    }
    function numberOfBits()
    {
        var b08status = $('#b08').is(':checked')==true;
        var b16status = $('#b16').is(':checked') == true;
        var b32status = $('#b32').is(':checked') == true;
        var bits;
        if (b08status==1 && b16status==0 && b32status==0) bits=8;
        else if (b08status==0 && b16status==1 && b32status==0) bits=16;
        else if (b08status==0 && b16status==0 && b32status==1) bits=32;
        console.log('the num of bits is: ',bits)
        return bits;
    }
    function Select()
    {
        myid = event.srcElement.id;
        return $('#'+myid).val()
    }
    function bitselect()
    {
        eventId = event.srcElement.id;
        if(eventId=='b08')
        {
            $('#b08').prop('checked', true);
            $('#b16').prop('checked', false);
            $('#b32').prop('checked', false);
        }
        else if (eventId=='b16')
        {
            $('#b08').prop('checked', false);
            $('#b16').prop('checked', true);
            $('#b32').prop('checked', false);            
        }
        else if (eventId=='b32')
        {
            $('#b08').prop('checked', false);
            $('#b16').prop('checked', false);
            $('#b32').prop('checked', true);            
        }
        modifyFormValues();
    }
    function modifyTextFields()
    {
        var bits = numberOfBits();
        var myid = event.srcElement.id;
        var operation = myid.slice( myid.length-3,myid.length );
        myid = myid.slice(0,myid.length-3);
        console.log('the id and operation are: ', myid, operation)
        var stringVal = $('#'+myid).val();
        if(myid=='BinIn1'|| myid=='BinIn2')
        {
            $.ajax({
                type:"POST",
                url: 'changeBinary',
                async: false,
                data: {'stringVal':stringVal, 'bits':bits, 'operand':operation,
                csrfmiddlewaretoken: "{{ csrf_token }}"},
                dataType: 'json',
                success: function (data)
                {
                    document.getElementById(myid).value = data.changedValue;
                }
            })
        }
        else if(myid=='HexIn1' || myid=='HexIn2')
        {$.ajax({
            type:"POST",
            url: 'changeHexa',
            async: false,
            data: {'stringVal':stringVal, 'bits':bits, 'operand':operation,
            csrfmiddlewaretoken: "{{ csrf_token }}"},
            dataType: 'json',
            success: function (data)
            {
                document.getElementById(myid).value = data.changedValue;
            }
        })}
        else
        {
            if(operation=='Add') var val = parseInt(stringVal) + 1;
            else if(operation=='Sub') var val = parseInt(stringVal) - 1;
            //if (val<0)  val=0;
            document.getElementById(myid).value = val;
        }
        modifyFormValues();
    }
    function modifyFormValues()
    {
        var bits = numberOfBits();
        var dec1 = ( $('#DecIn1').val() );
        var bin1 = ( $('#BinIn1').val() );
        var hex1 = ( $('#HexIn1').val() );
        var dec2 = ($( '#DecIn2' ).val()); 
        var bin2 = ($( '#BinIn2' ).val()); 
        var hex2 = ($( '#HexIn2' ).val()); 

        var decop = $('#decop').val();
        var binop = $('#binop').val();
        var hexop = $('#hexop').val();

        console.log('the imported values are: ')
        console.log(dec1,dec2,bin1,bin2,hex1,hex2,decop,binop,hexop)
        
        
        $.ajax({
            type: "POST",
            url: "allLogical",
            data: {
                'dec1':dec1, 'bin1':bin1, 'hex1':hex1, 'bits':bits,
                'dec2':dec2, 'bin2':bin2, 'hex2':hex2,
                'decop':decop, 'binop':binop, 'hexop':hexop,
                csrfmiddlewaretoken: "{{ csrf_token }}"
            },
            dataType: "json",
            success: function (data)
            {   console.log(data)
                for (const [id, value] of Object.entries(data))    
                {   
                    document.getElementById(id).value = value;
                }
            },
        })        

    }

</script>

</html>